<div class="mx-2 mx-lg-0 card bg-light mb-3" id="<%= dom_id flashcard %>">
  <div class="card-header text-dark">
    <%= flashcard.hanzi %>
  </div>
  <div class="card-body text-center">
    <span class="font-bold">
      <span class="text-dark"><%= flashcard.pinyin %></span><br />
      <span class="font-light text-dark"><%= flashcard.english %></span>
  </div>
</div>
