<div class="row">
  <div class="col-12 col-lg-4">
    <%= render @flashcard %>
    <%= link_to edit_flashcard_path(@flashcard.id), class: "btn btn-success col-12 mb-2 text-white" do %>
      <i class="bi bi-pencil-square"></i> <small>Edit Flashcard</small>
    <% end %>
    <%= link_to @flashcard, method: :delete, class: "btn btn-danger col-12 mb-2 text-white", data: {confirm: "Are you sure?"} do %>
      <i class="bi bi-trash"></i> <small>Delete Flashcard</small>
    <% end %>
  </div>
  <div class="col-12 col-lg-8">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" 
                id="nav-home-tab" 
                data-bs-toggle="tab" 
                data-bs-target="#flashcards" 
                type="button" role="tab" 
                              aria-controls="flashcards" 
                              aria-selected="true">
          Flashcards
        </button>
        <button class="nav-link" 
                id="nav-profile-tab" 
                data-bs-toggle="tab" 
                data-bs-target="#nav-profile" 
                type="button" 
                role="tab" 
                aria-controls="nav-profile" 
                aria-selected="false">
          Flashcard Answers
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="flashcards" role="tabpanel" aria-labelledby="flashcards">
        <div class="row mt-3">
          piss
        </div>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
    </div>
  </div>
</div>
