<div class="col-12">
  <% if member_signed_in? %>
    <h4>Todays worst performing flashcards</h4>
    <p class="text-muted">Flashcards you have answered wrong the most today.</p>
    <%= render "/home/todays_worst_performing_flashcards", flashcards: @todays_worst_performing_flashcards %>
  <% else %>
  <% end %>
</div>
